body {
    background-color: #ecf0f1;
}

.btn {
    cursor: pointer;
}

body {
    color:#34495e;
}

.clicked {
    color: #7f8c8d;
}

.form,
.greeting {
    display: none;
}

.showing {
    display: block;
}/*class명이 showing으로 변경될 경우 form을 block한다.*/